.vscode/
.mythicalide/
.env
core/storage/*
/vendor
/.idea
logs/*.log
/config.yml
/public/pma/
/bot/__pycache__
/bot/config.py
/cli/bin
/cli/obj
/cli/.vs
migrates.ini
/logs/*.txt
/cli/logs
/public/pma.zip
/cli/*.yml
/caches/github.json
