/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #161931;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3a4078;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #42498f;
}

.btn-primary {
    color: #fff;
    background-color: #3d4373;
    border-color: #3d4373;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #28a4f6 !important;
    border-color: #28a4f6 !important;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #28bdf6;
    border-color: #1eafe7;
    box-shadow: none;
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-primary.show.dropdown-toggle,
.show>.btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #28bdf6 !important;
    border-color: #1eafe7 !important;
}

.bg-menu-theme.menu-vertical .menu-item.active>.menu-link:not(.menu-toggle) {
    background: linear-gradient(72.47deg, #3ba3ed 22.16%, rgb(34 105 215 / 70%) 76.47%);
    box-shadow: 0px 2px 6px 0px rgb(103 197 240 / 48%);
    color: #fff !important;
}

.bg-label-primary {
    background-color: #3a4764 !important;
    color: #67bcf0 !important;
}

.bg-menu-theme .menu-text {
    color: #65c5ff;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
    background-color: #28a4f6;
    color: #fff;
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.25rem;
    --bs-dropdown-font-size: 0.9375rem;
    --bs-dropdown-color: #b6bee3;
    --bs-dropdown-bg: #2f3349;
    --bs-dropdown-border-color: #434968;
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 0px;
    --bs-dropdown-inner-border-radius: 0px;
    --bs-dropdown-divider-bg: #434968;
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.25rem 1rem rgba(15, 20, 34, 0.55);
    --bs-dropdown-link-color: #cfd3ec;
    --bs-dropdown-link-hover-color: #67c3f0;
    --bs-dropdown-link-hover-bg: rgba(115, 103, 240, 0.08);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #67c4f0;
    --bs-dropdown-link-disabled-color: #aab3de;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.42rem;
    --bs-dropdown-header-color: #7983bb;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

a {
    color: #67c9f0;
}

.center {
    margin: auto;
    width: auto;
    background: #25283d;
    border-radius: 25px;
    padding: 10px;
}

.text-primary {
    color: #67c9f0 !important;
}

.card {
    --bs-card-spacer-y: 1.5rem;
    --bs-card-spacer-x: 1.5rem;
    --bs-card-title-spacer-y: 0.875rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: #434968;
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: 0 0.25rem 1.25rem rgba(15, 20, 34, 0.4);
    --bs-card-inner-border-radius: 0.375rem;
    --bs-card-cap-padding-y: 1.5rem;
    --bs-card-cap-padding-x: 1.5rem;
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #161931;
    --bs-card-img-overlay-padding: 1.5rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.bg-navbar-theme {
    background-color: rgb(28 31 47 / 95%) !important;
    color: #b6bee3;
}

.resources {
    width: 200px;
    height: 50px;
    background: #30355e;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.resources h5 {
    z-index: 1;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.resources::after {
    content: '';
    position: absolute;
    background: #3d4373;
    ;
    inset: 5px;
    border-radius: 15px;
}

/* .resources:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */
</style><style>.e-card {
    margin: 100px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
    position: relative;
    width: auto;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
}

.wave {
    position: absolute;
    width: 1040px;
    height: 1400px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: 20%;
    margin-top: -20%;
    background: linear-gradient(744deg, #4089ff, #4254f3 60%, #00ddeb);
}

.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}

.infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 4.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
    top: 210px;
}

.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}

.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 15px;
}
/* This will be incase some one wants to add particles.js into his thing! */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1; 
    top: 0;
    left: 0;
}
