body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  background-color: #1f1f1f;
  background-image: url("../img/loginbackground.jpg");
  background-size: cover;
  background-position: center center;
  left: 0;
}