<!--
    MythicalClient - Landing Page

    This page a is a custom page for MythicalClient 
    
    PREFIX:
    The prefix is a value that can be got from your settings file so you won't have to modify it

    Name: %APP_NAME%
    Logo: %APP_LOGO%
    Background: %APP_URL%
    URL: %APP_URL%
    SEO Name: %SEO_TITLE%
    SEO Logo: %SEO_IMAGE%
    SEO Description: %SEO_DESCRIPTION%
    SEO KEYWORDS: %SEO_KEYWORDS%
    DISCORD INVITE: %DISCORD_INVITE%
    LANDING DESCRIPTION: %LANDING_DESCRIPTION%
    LANDING SUPPORT EMAIL: %LANDING_SUPPORT_EMAIL%
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="MythicalSystems">
    <link rel="apple-touch-icon" href="%SEO_IMAGE%">
    <meta name="twitter:description" content="%SEO_DESCRIPTION%">
    <meta name="twitter:image" content="%SEO_IMAGE%">
    <meta property="og:image" content="%SEO_IMAGE%">
    <meta name="description" content="%SEO_DESCRIPTION%">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="%SEO_TITLE%">
    <meta name="og:title" content="%SEO_TITLE%">
    <meta name="keywords" content="%SEO_KEYWORDS%" />
    <link rel="shortcut icon" type="image/x-icon" href="%SEO_IMAGE%">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="%APP_LOGO%" type="image/x-icon">
    <title>%APP_NAME% | Home</title>
    <link rel="stylesheet" href="/assets/web/assets/mobilandingrise-icons2/mobirise2.css">
    <link rel="stylesheet" href="/landing/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/landing/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/landing/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/landing/assets/web/assets/gdpr-plugin/gdpr-styles.css">
    <link rel="stylesheet" href="/landing/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="/landing/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="/landing/assets/theme/css/style.css">
    <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" as="style" href="/landing/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="/landing/assets/mobirise/css/mbr-additional.css" type="text/css">
    <style>
        body {
            -ms-overflow-style: none !important;
            scrollbar-width: none !important;
        }

        body::-webkit-scrollbar {
            display: none !important;
        }

        .cid-trTi4rMOjG {
            background-image: url("%APP_BG%");
        }

        .cid-trU6pX6jpk {
            padding-top: 6rem;
            padding-bottom: 6rem;
            background-image: url("%APP_BG%");
        }

        .cid-trUbLNALCq {
            padding-top: 6rem;
            padding-bottom: 6rem;
            background-image: url("%APP_BG%");
        }

        .cid-trUdldpMxp {
            padding-top: 6rem;
            padding-bottom: 6rem;
            background-image: url("%APP_BG%");
        }

        .cid-trUfKDcega {
            padding-top: 6rem;
            padding-bottom: 6rem;
            background-image: url("%APP_BG%");
        }
    </style>
</head>
<body>
    <section data-bs-version="5.1" class="menu menu2 cid-trT5gkqD7t" once="menu" id="menu2-1">
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="%APP_URL%">
                            <img src="%APP_LOGO%" alt="%APP_NAME%" style="height: 3rem;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7"
                            href="%APP_URL%">%APP_NAME%</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                    data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-white display-4" href="/server/create">Service
                                Status</a></li>
                        <li class="nav-item"><a class="nav-link link text-white display-4" href="/help-center/pp">Privacy
                                policy</a></li>
                        <li class="nav-item"><a class="nav-link link text-white display-4" href="/help-center/tos">Terms of
                                Service</a>
                        </li>
                    </ul>

                    <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4"
                            href="/dashboard"><span
                                class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>Get
                            started</a></div>
                </div>
            </div>
        </nav>
    </section>
    <section data-bs-version="5.1" class="header6 cid-trTi4rMOjG mbr-fullscreen" id="header6-2">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>
        <div class="align-center container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1">
                        <strong>%APP_NAME%</strong>
                    </h1>

                    <p class="mbr-text mbr-white mbr-fonts-style display-7">
                        %LANDING_DESCRIPTION%</p>
                    <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/dashboard">Get
                            Started</a></div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="features1 cid-trTnYYWRx3" id="features1-7">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Features</strong>
                    </h3>

                </div>
            </div>
            <div class="row">
                <div class="card col-12 col-md-6 col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper">
                                <span class="mbr-iconfont mobi-mbri-clock mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style display-7"><strong>Best Uptime</strong></h5>
                            <p class="card-text mbr-fonts-style display-7">Powered by our staff in germany datacenter.
                                You can experience 98% uptime with our Services</p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper">
                                <span class="mbr-iconfont mobi-mbri-to-local-drive mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style display-7"><strong>Powered by excellent
                                    hardware</strong></h5>
                            <p class="card-text mbr-fonts-style display-7">All our paid nodes are very fast since they
                                are runing on blazing fast speeds top of the line hardware!</p>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper">
                                <span class="mbr-iconfont mobi-mbri-devices mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style display-7"><strong>User Friendly</strong></h5>
                            <p class="card-text mbr-fonts-style display-7">Our panel and our client area is user
                                friendly and supports every device that you want to use to manage your server!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="people5 mbr-embla cid-trTqE07yMY" id="people5-8">
        <div class="position-relative text-center">
            <h3 class="mb-4 mbr-fonts-style display-2">
                <strong>What Our Fantastic Clients Say</strong>
            </h3>
            <div class="embla" data-skip-snaps="true" data-align="center" data-loop="true" data-auto-play="true"
                data-auto-play-interval="5" data-draggable="true">
                <div class="embla__viewport container-fluid">
                    <div class="embla__container">
                        <div class="embla__slide slider-image item" style="margin-left: 4rem; margin-right: 4rem;">
                            <div class="user">
                                <div class="user_image">
                                    <div class="item-wrapper position-relative">
                                        <img src="%FEEDBACK_1_AVATAR%"
                                            alt="%FEEDBACK_1_NAME%">
                                    </div>
                                </div>
                                <div class="user_text mb-4">
                                    <p class="mbr-fonts-style display-7">%FEEDBACK_1_DESCRIPTION%&nbsp;<br></p>
                                </div>
                                <div class="user_name mbr-fonts-style mb-2 display-7">
                                    <strong>%FEEDBACK_1_NAME%</strong>
                                </div>
                                <div class="user_desk mbr-fonts-style display-7">%FEEDBACK_1_ROLE%</div>
                            </div>
                        </div>
                        <div class="embla__slide slider-image item" style="margin-left: 4rem; margin-right: 4rem;">
                            <div class="user">
                                <div class="user_image">
                                    <div class="item-wrapper position-relative">
                                        <img src="%FEEDBACK_2_AVATAR%"
                                            alt="%FEEDBACK_2_NAME%">
                                    </div>
                                </div>
                                <div class="user_text mb-4">
                                    <p class="mbr-fonts-style display-7">%FEEDBACK_2_DESCRIPTION%&nbsp;<br></p>
                                </div>
                                <div class="user_name mbr-fonts-style mb-2 display-7">
                                    <strong>%FEEDBACK_2_NAME%</strong>
                                </div>
                                <div class="user_desk mbr-fonts-style display-7">
                                    %FEEDBACK_2_ROLE%</div>
                            </div>
                        </div>
                        <div class="embla__slide slider-image item" style="margin-left: 4rem; margin-right: 4rem;">
                            <div class="user">
                                <div class="user_image">
                                    <div class="item-wrapper position-relative">
                                        <img src="%FEEDBACK_3_AVATAR%"
                                            alt="%FEEDBACK_3_NAME%">
                                    </div>
                                </div>
                                <div class="user_text mb-4">
                                    <p class="mbr-fonts-style display-7">%FEEDBACK_3_DESCRIPTION%&nbsp;<br></p>
                                </div>
                                <div class="user_name mbr-fonts-style mb-2 display-7">
                                    <strong>%FEEDBACK_3_NAME%</strong>
                                </div>
                                <div class="user_desk mbr-fonts-style display-7">
                                    %FEEDBACK_3_ROLE%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="embla__button embla__button--prev">
                    <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                    <span class="sr-only visually-hidden visually-hidden">Previous</span>
                </button>
                <button class="embla__button embla__button--next">
                    <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                    <span class="sr-only visually-hidden visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="contacts1 cid-trTu7YGFDJ" id="contacts1-a">
        <div class="container">
            <div class="mbr-section-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Contacts</strong>
                </h3>
                <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Do you need support?
                    <br>Here is where you can contact us!
                </h4>
            </div>
            <div class="row justify-content-center mt-4">

                <div class="card col-12 col-lg-6">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <div class="image-wrapper">
                                <span class="mbr-iconfont socicon-discord socicon"></span>
                            </div>
                            <h4 class="card-title mbr-fonts-style align-center mb-2 display-2">
                                <strong>Discord</strong>
                            </h4>
                            <p class="mbr-text mbr-fonts-style mb-2 display-4">
                                You can join our discord an make a ticket</p>
                            <h5 class="link mbr-black mbr-fonts-style display-7"><a
                                    href="%DISCORD_INVITE%"
                                    class="text-primary">%DISCORD_INVITE%</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="footer4 cid-trTRH3RkBb" once="footers" id="footer4-j">
        <div class="container">
            <div class="row mbr-white">
                <div class="col-6 col-lg-3">
                    <div class="media-wrap col-md-8 col-12">
                        <a href="%APP_URL%">
                            <img src="%APP_LOGO%" alt="%APP_NAME% logo">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>About</strong>
                    </h5>
                    <p class="mbr-text mbr-fonts-style mb-4 display-4">%SEO_DESCRIPTION%</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                        <strong>Links</strong>
                    </h5>
                    <ul class="list mbr-fonts-style display-4">
                        <li class="mbr-text item-wrap"><span style="font-size: 1.1rem;"><a
                                    href="/dashboard" class="text-primary" target="_blank">Client
                                    Area</a></span><br></li>
                        <li class="mbr-text item-wrap"><a href="/status" class="text-primary"
                                target="_blank">Status Page</a></li>
                        <li class="mbr-text item-wrap"><a href="%DISCORD_INVITE%"
                                class="text-primary">Discord Server</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7"><strong>Legal</strong></h5>
                    <ul class="list mbr-fonts-style display-4">
                        <li class="mbr-text item-wrap"><span style="font-size: 1.1rem;"><a href="/help-center/tos"
                                    class="text-primary">Terms of Service</a></span></li>
                        <li class="mbr-text item-wrap"><a href="/help-center/pp" class="text-primary">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-12 mt-4">
                    <p class="mbr-text mb-0 mbr-fonts-style copyright align-center display-7">
                        © Copyright 2022-2023 <a href="%APP_URL%" class="text-primary">%APP_NAME%
                        </a>- All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script src="/landing/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/landing/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="/landing/assets/ytplayer/index.js"></script>
    <script src="/landing/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="/landing/assets/embla/embla.min.js"></script>
    <script src="/landing/assets/embla/script.js"></script>
    <script src="/landing/assets/theme/js/script.js"></script>
</body>

</html>